<nav class="container mx-auto nav-class py-4">
    <a href="/" routerLink="/">
        <img class="logoPNG" src="assets/images/logo.png" alt="logo" srcset="">
    </a>
    <ul class="ul-class">
        <li class="mr-6"><a href="" routerLink="/home">Home</a></li>
        <li class="mr-6"><a href="" routerLink="/products">Products</a></li>
        <li class="mr-6">
            <a href="" routerLink="/cart">
                <div class="cartStyle">
                    <span class="mr-2 text-white">10</span>
                    <img src="assets/images/cart.png" alt="cart" />
                </div>
            </a>
        </li>
    </ul>
</nav>